.link {
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.cards{
    margin-top: 50px;
}
.card{
    border: none;
}
.card-body{
    background-color: rgb(230, 230, 230);
}
.card-footer{
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.card_text{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card_price{
    background-color: #ffb606;
    padding: 20px;
}